.nln-config-modal-background {
  $primary: white;
  $secondary: black;
  $border: 1px solid $secondary;
  $wrapper-top-bottom-padding: 0.5em;
  $base-padding: 0.25em;
  $row-padding: $base-padding 10px;

  // Fixed Full Window Size
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  height: 100%;
  width: 100%;
  // Same level as all other SO modals
  z-index: var(--zi-modals);
  // Center the wrapper in the window
  display: flex;
  justify-content: center;
  align-items: center;

  // Font
  font-family: var(--theme-body-font-family);
  font-size: var(--fs-body2);

  .nln-config-modal {
    overflow-y: auto;
    max-height: 100%;
    background-color: $primary;
    color: $secondary;
    border: $border;
    border-radius: 10px;
    padding-top: $wrapper-top-bottom-padding;
    padding-bottom: $wrapper-top-bottom-padding;

    .nln-config-header {
      border-bottom: $border;
      padding: $base-padding;
      display: flex;
      align-content: center;


      .nln-header-text {
        font-size: 2em;
        padding-right: $base-padding;
      }

      .nln-config-close-button {
        background: none;
        border: none;
        font-size: 24pt;
        cursor: pointer;
      }
    }

    form {
      fieldset {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;

        legend {
          font-size: 1.5em;
          background-color: $secondary;
          color: $primary;
          width: 100%;
          padding-left: $base-padding;
        }

        .nln-field-row {
          padding: $row-padding;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          align-items: center;

          label {
            padding-right: 10px;
          }

          input {
            padding: 2px;
            box-shadow: unset;
            border-color: $secondary;
            color: $secondary;
          }
        }
      }

      .nln-config-buttons {
        border-top: $border;
        padding: $base-padding;
        display: flex;
        justify-content: right;
      }
    }
  }
}