.nln-toast {
  $toast-border: 1px solid var(--theme-content-border-color);
  $toast-text-color: var(--theme-body-font-color);

  box-sizing: content-box;
  position: absolute;
  top: calc(var(--theme-topbar-height) + 10px);
  left: 50%;
  border: $toast-border;
  border-radius: 6px;
  overflow: hidden;
  color: $toast-text-color;

  &.error {
    background-color: #F009;

    .toast-progress {
      background-color: #F00;
    }
  }

  .toast-text {
    padding: 1em;
  }

  .toast-content {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
  }

  .toast-close-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .toast-close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: $toast-text-color;
  }

  .toast-progress-wrapper {
    width: 100%;
    height: 10px;
    border-top: $toast-border;
    background-color: var(--theme-background-color); // Comes from SO styles
  }

  .toast-progress {
    width: 100%;
    height: 100%;
    animation-name: progressAnimate;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }


  @keyframes progressAnimate {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }


  &.open {
    animation-name: fadeInDown;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  @keyframes fadeUpOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100px);
    }
  }

  &.close {
    animation-name: fadeUpOut;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

}