@mixin themed-toast(
  $theme-name,
  $theme-text-color,
  $theme-background-color,
  $theme-progress-bar-color,
  $toast-border: 1px solid var(--theme-content-border-color)
) {
  &.#{$theme-name} {
    border: $toast-border;
    color: $theme-text-color;
    background-color: $theme-background-color;

    .toast-close-button {
      color: $theme-text-color;
    }

    .toast-progress-wrapper {
      border-top: $toast-border;
    }

    .toast-progress {
      background-color: $theme-progress-bar-color;
    }
  }
}

.toast {
  box-sizing: content-box;
  position: fixed;
  top: calc(var(--theme-topbar-height) + 10px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  overflow: hidden;

  @include themed-toast('error', var(--theme-body-font-color), rgba(255, 0, 0, 65%), rgb(255, 0, 0));
  @include themed-toast('warning', var(--theme-body-font-color), rgba(hsl(27, 90%, 55%), 65%), hsl(27, 90%, 55%));

  .toast-text {
    padding: 1em;
  }

  .toast-content {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
  }

  .toast-close-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .toast-close-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .toast-progress-wrapper {
    width: 100%;
    height: 10px;
    background-color: var(--theme-background-color); // Comes from SO styles
  }

  .toast-progress {
    width: 100%;
    height: 100%;
    animation-name: progressAnimate;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  @keyframes progressAnimate {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  &.open {
    animation-name: fadeInDown;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate(-50%, -100px);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  &.close {
    animation-name: fadeUpOut;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  @keyframes fadeUpOut {
    0% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -100px);
    }
  }
}
